/*
	AUTHOR: Osvaldas Valutis, www.osvaldas.info
*/

@import url( 'http://fonts.googleapis.com/css?family=Advent+Pro:500,700|Noticia+Text:400,400italic,700,700italic&subset=latin,latin-ext' );


html
{
	font-size: 100%;
}

body
{
	font-family: 'Noticia Text', serif;
	font-weight: 400;
	-webkit-font-smoothing: antialiased;
}


body,
a,
a:hover
{
	color: #111;
}

a
{
	-webkit-transition: color .3s ease;
	-moz-transition: color .3s ease;
	-ms-transition: color .3s ease;
	-o-transition: color .3s ease;
	transition: color .3s ease;
}

a,
a:hover
{
	text-decoration: none;
}



/*
	AD
*/

#ad
{
	width: 170px;
	background-color: #fff;
	background-color: rgba( 255, 255, 255, .5 );
	overflow: hidden;
	position: fixed;
	z-index: 1000;
	top: 10px;
	left: 10px;
	padding: 20px;
}
	#ad.dark
	{
		background-color: #111;
		background-color: rgba( 0, 0, 0, .5 );
	}
	#bsap_aplink
	{
		width: 100%;
		font-size: 0.875em;
		font-family: 'Advent Pro', sans-serif;
		font-weight: 500;
		text-transform: uppercase;
		color: #999;
		color: rgba( 0, 0, 0, .25 );
		display: block;
		margin-bottom: 10px;
	}
		#bsap_aplink:hover
		{
			color: #111;
		}
		#ad.dark #bsap_aplink
		{
			color: #555;
			color: rgba( 255, 255, 255, .25 );
		}
			#ad.dark #bsap_aplink:hover
			{
				color: #fff;
			}
	body .one .bsa_it_ad,
	body .one .bsa_it_ad *
	{
		background-color: transparent !important;
		position: static !important;
		z-index: 1 !important;
	}
	body .one .bsa_it_ad
	{
		font-family: 'Noticia Text', serif;
		border: none;
		padding: 0;
		margin: 0;
	}
		body .one .bsa_it_ad .bsa_it_i,
		body .one .bsa_it_ad .bsa_it_t,
		body .one .bsa_it_ad .bsa_it_d
		{
			width: 100%;
			display: block;
			padding: 0;
			margin: 0;
		}
		body .one .bsa_it_ad .bsa_it_t,
		body .one .bsa_it_ad .bsa_it_d
		{
			font-size: 0.875em;
			line-height: 1.75;
			color: #555;
			color: rgba( 0, 0, 0, .75 );
		}
		body .one .bsa_it_ad .bsa_it_i
		{
			margin-bottom: 10px;
		}
		body .one .bsa_it_ad .bsa_it_t
		{
			font-weight: 700;
		}
		#ad.dark .bsa_it_ad .bsa_it_t,
		#ad.dark .bsa_it_ad .bsa_it_d
		{
			color: #bbb;
			color: rgba( 255, 255, 255, .75 );
		}
		body .one .bsa_it_p
		{
			display: none;
		}



/*
	META
*/

#meta
{
	width: 100%;
	height: 40px;
	line-height: 1;
	background-color: #fff;
	background-color: rgba( 255, 255, 255, .5 );
	overflow: hidden;
	position: fixed;
	z-index: 1001;
	bottom: 0;
	left: 0;
	padding: 10px 20px 0;
}
	#meta.dark
	{
		background-color: #111;
		background-color: rgba( 0, 0, 0, .5 );
	}
	#meta li
	{
		float: right;
	}
		#meta li:first-child
		{
			float: left;
		}
		#back-to-article
		{
			font-family: 'Advent Pro', sans-serif;
			font-weight: 500;
			text-transform: uppercase;
			text-decoration: none;
			color: #111;
			float: left;
			position: relative;
			bottom: -2px;
		}
			#back-to-article:before
			{
				width: 0;
				height: 0;
				display: inline-block;
				border: 0.313em solid transparent; /* 5 */
				border-left: none;
				border-right-color: #111;
				border-right-color: rgba( 0, 0, 0, .5 );
				content: '';
				margin-right: 0.313em; /* 5 */
			}
				#back-to-article:hover:before
				{
					border-right-color: #111;
				}
			#meta.dark #back-to-article
			{
				color: #fff;
			}
				#meta.dark #back-to-article:before
				{
					border-right-color: #fff;
					border-right-color: rgba( 255, 255, 255, .5 );
				}
					#meta.dark #back-to-article:hover:before
					{
						border-right-color: #fff;
					}



/*
	RESPONSIVENESS
*/

@media screen and (max-width: 640px), screen and (max-height: 640px)
{
	#ad,
	#meta
	{
		display: none;
	}
}